@charset "UTF-8";
/* CSS Document */

@font-face {
font-family: 'Fixedsys';
src: url('fonts/fsex300-webfont.eot');
src: url('fonts/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
     url('fonts/fsex300-webfont.woff') format('woff'),
     url('fonts/fsex300-webfont.ttf') format('truetype'),
     url('fonts/fsex300-webfont.svg#Fixedsys') format('svg');
font-weight: normal;
font-style: normal;
-webkit-font-smoothing:aliased;
font-smooth:never;
}

html, body {
height:100%;
}
body {
	margin: 0;
	padding:0;
	color:#f0f0f0;
	background:#000000;
	font-family:'Fixedsys', sans-serif;
	font-size:12px;
}

.socialbuttons {
z-index: 1;
position: absolute;
list-style: none;
margin: 10px;
padding: 0;
display:block;
}

.socialbuttons li {
background: url(images/social-bg.png) no-repeat;
line-height: 40px;
width: 40px;
-webkit-transition: background-image 0.5s ease-in-out;
-moz-transition: background-image 0.5s ease-in-out;
-ms-transition: background-image 0.5s ease-in-out;
-o-transition: background-image 0.5s ease-in-out;
transition: background-image 0.5s ease-in-out;
}

.socialbuttons li:hover {
background-image:url(images/social-bg-hover.png);
}


.socialbutton {
background-image:url(images/social-icons.png);
width:40px;
height:40px;
text-indent:-5000px;
overflow:hidden;
}

#signup {
background-position: 0px 12px;
}


#facebook {
background-position: 0 -33px;
}

#twitter {
background-position: 0 -77px;
}

#youtube {
background-position: 1px -121px;
}

#soundcloud {
background-position: 0px -165px;
}

.socialbuttons span {
position: absolute;
top: 15px;
left: 45px;
width: 500px;

}

h1 {
background: url(images/bhp-logo.png);
z-index: 9;
position: absolute;
width: 173px;
height: 210px;
margin: 70px 0 0 25%;
text-indent: -5000px;
overflow: hidden;
}

.album {
position: absolute;
right: 10px;
top: 25px;
text-align: center;
width: 360px;
}

.albumart {
    margin-top:10px;
}
 
.show_hide {
    display:none;
	text-decoration: none !important;
}

#reveal {
color:#FFFFFF;
text-decoration:none;
}


/* sc player */

#footer {
position: fixed;
bottom: 0;
margin: 0;
left: 0;
right: 0;
background: #000;
z-index: 9998;
padding: 6px;
font-size: 11px;
}

.site-info, .site-info a {
color: #616161;
text-align: right;
width: 300px;
}

.sc-player {
display:none;
}

.sc-player ol, .sc-player li {
margin: 0;
padding: 0;
}

/* Artworks */

.sc-player .sc-artwork-list {
display: none;
}


/* controls */

.sc-player .sc-controls{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 8px;
}

.sc-player .sc-controls a{
  display: block;
  width: 40px;
  height: 40px;
}

.sc-player .sc-controls a.sc-play, .sc-player .sc-controls a.sc-pause{
  text-indent: -3000px;
}

.sc-player .sc-controls a.sc-pause{
  display: none;
}

.sc-player.playing .sc-controls a.sc-play{
  display: none;
}

.sc-player.playing .sc-controls a.sc-pause{
  display: block;
}

/* scrubber */



.sc-player:hover .sc-scrubber, .sc-player.playing .sc-scrubber {
display: block;
left: 230px;
}





.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
height: 20px;
position: absolute;
top: 0;
width: 0;
-webkit-transition: width 0.1s linear;
}



/* tracks */

/* Track listings*/

.sc-player ol.sc-trackslist {
position: absolute;
float: left;
height: 100%;
left: 30px;
overflow: hidden;
right: 0;
list-style: 0;
margin: 0;
padding: 0;
color: #FFF;
}

.sc-player ol.sc-trackslist li {
display: none;
cursor: pointer;
margin: 10px 0;
}

.sc-player ol.sc-trackslist li.active, .sc-player ol.sc-trackslist li:hover {
display: block;
color: #FFF;
}

/* Track info*/

.sc-player .sc-info {
display: none;
}


/* utilities */

.sc-player .hidden {
  display: none;
}

.sc-player-engine-container{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}




.sc-player.special {
  border: 2px solid #ff3300;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 5px;
}

.sc-player a {
  text-decoration: none;
  color: #fff;
}

/* scrubber */

.sc-scrubber {
position: absolute;
left: 230px;
bottom: 0;
height: 30px;
right: 10px;
background-color: #000;
}

.sc-scrubber .sc-time-span {
background-color: #FFF;
position: absolute;
right: 70px;
height: 20px;
margin: 5px 0;
}

.sc-scrubber .sc-time-span img {
height: 20px;
width: 100%;
z-index: 9997;
position: relative;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played {
  background-color: #fff;
  opacity: 0.4;
}

.sc-scrubber .sc-played {
  background-color: #000;
  opacity: 0.4;
}

/* controls */

.sc-player .sc-controls {
position: absolute;
width: 20px;
height: 20px;
top: 5px;
left: 5px;
}

.sc-player .sc-controls a {
  color: transparent;
  width: 20px;
height: 20px;
background-repeat:no-repeat !important;
  background-position: center center !important;
  background-image: url('images/buttons/play.png');
}


.sc-player .sc-controls a.sc-pause {
  background-image: url('images/buttons/play.png');
}



.sc-player.playing .sc-controls a.sc-pause{
  background-image: url('images/buttons/pause.png');
}



.sc-scrubber .sc-time-indicators {
color: #FFF;
font-size: 0.9em;
font-weight: normal;
line-height: 3.5em;
position: absolute;
right: 10px;
top: 0px;
}

/* Track listings*/

.sc-player ol.sc-trackslist {
position: absolute;
float: left;
height: 100%;
left: 30px;
overflow: hidden;
right: 0;
list-style: 0;
margin: 0;
padding: 0;
color: #FFF;
}




.sc-track-duration {
  display: none;
}

/* Track info*/

.sc-player .sc-info{
  background: #fff;
  opacity: 0.9;
}

.sc-player .sc-info-toggle {
display: none;
}


.sc-player .sc-info-close{
  background: #003399;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 2px 4px;
  font-weight: bold;
}

.sc-volume-slider {
display: none;
}

#mobileplayer {
display:none;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 

#soundcloud-player {
display:none;
}

.sc-player {
color: #FFF;
font-size: 10px;
line-height: 1em;
position: relative;
height: 30px;
background: #000;
z-index:9998;
display:block;
}

}

@media only screen and (max-device-width : 568px) {
#soundcloud-player {
display:none;
}

#footer td {
display: block;
}

.site-info, .site-info a {
text-align:center;
width: 100%;
}

.sc-player {
color: #FFF;
font-size: 10px;
line-height: 1em;
position: relative;
height: 30px;
z-index:9998;
display:block;
}
.socialbuttons span {
display: none;
}

.socialbuttons li {
display: inline-block ;
}

.socialbuttons {
text-align: center;
width: 96%;
margin: 10px 2%;
position: relative;
}

.album {
position: relative;
width: 100%;
top: 0;
right: 0;
}

.albumart img {
max-width: 65%;
}

.sc-scrubber .sc-time-span {
display:none;
}

h1 {
background: url(images/bhp-logo.png) no-repeat center top;
background-size: contain;
position: fixed;
width: 90%;
height: 210px;
margin: 20px 0 0;
}

}

