@import url(css/reset.css);
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);



html, body { 
  height:100%;
}

body { 
  overflow: scroll;  
  font-family: 'Oswald', sans-serif; 
  font-size: 16px;  
  letter-spacing: 2px; 
  background: #ccd0cf;
  color: #fff; 
}

header {
    background: #000;
    width: 100%;
    top: 0;
    padding: 10px 15px;
    font-size: 22px; 
    z-index: 10;
}

header .container {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}



a { }
a:hover { }
img { width:100%; height:auto; vertical-align: top;}

.loader { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background: #c8cfd4 url(images/loader.gif) no-repeat 50% 50%; background-size:50px auto;
}

#sticker { position:fixed; top:60px; right:30px; width:350px; height:350px; background:url(images/sticker.png) no-repeat 50% 50%; background-size:100%; z-index:200;}

#liveLink {
  display: inline-block;
}
.store {
  display: inline-block;
}
.store a {  color:#fff; text-decoration: none;}
.store a:hover { color:#767676;}


.socials li { 
  display:inline-block;
}

.socials li a {
  font-size: 18px;
  color: #999;
  padding: 0 3px;

}
.socials li a.icon { margin-top: 5px;}
.socials li a.txt { width:auto; color:#FFF; line-height: 1.5; text-decoration:none; text-transform: uppercase; margin-left: 5px; padding-right: 10px;}
.socials li a:hover, #socials li a.txt { opacity:1}
.socials li a.txt:hover { opacity: 0.5; }
.socials li a.icon:hover { opacity: 0.5; }


#liveLink a.txt { width:auto; color:#FFF; text-decoration:none; opacity:1}
#liveLink a.txt:hover { opacity:0.5;}

#live {
    background: #ced0cf;
    background: rgba(0,0,0,0.9);
    width: 100%;
    color: #FFF;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: none;
}
#live > div {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 100px;
}
#powered {
    display: none;
}

.wrapper {
  min-height: 90%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  vertical-align: middle;
  text-align: center; }

 .album {
    height: 75vh;
    width: auto;
  position: relative;
 } 

.signup {}

.fancybox-close {
  background-image: url(fancybox/fancybox_sprite.png);
}
.fancybox-close {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
  display: block;
  overflow: hidden;
  text-indent: -555em;
}






video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(images/bg.jpg) no-repeat;
background-size: cover;
}

video { display: block; }


footer {
  bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
  width: 100%;
  background: #000;
  left: 0;
  padding: 10px 10px 10px;
  text-align: center;
}
 footer p{
  display: inline-block;
  text-transform: uppercase;
  line-height: 1.5;
  color: #fff;
  padding-right: 10px;
 }


footer a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: #333;
  padding: 10px 20px;
  margin: 5px;

}

 footer a:hover {
  background: #555;  
 }


/*CSS SNIPPETS*/
.transall {  -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; -webkit-backface-visibility: hidden; -moz-backface-visibility:    hidden; -ms-backface-visibility:     hidden;}
.transopac {  -webkit-transition: opacity 0.3s ease-out; -moz-transition: opacity 0.3s ease-out; -o-transition: opacity 0.3s ease-out; transition: opacity 0.3s ease-out;}
a:hover.opac { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5; -webkit-backface-visibility: hidden; -moz-backface-visibility:    hidden; -ms-backface-visibility:     hidden;}

img.ri { position: absolute; max-width: 80%; top: 10%; left: 10%; border-radius: 3px; box-shadow: 0 3px 6px rgba(0,0,0,0.9); }
img.ri:empty { top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.cover {  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat; background-attachment:fixed; background-position:50% 50%;}

@media screen and (orientation: portrait) {
  img.ri { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  img.ri { max-height: 90%; }
}




@media screen and (max-device-width: 800px) {
body { background: url(images/bg.jpg) #000 no-repeat center center fixed; }
#bgvid { display: none; }


}


@media only screen and (max-width :600px) {
  header .container, .store {
    text-align: center;
    display: block;
  }

  .socials, .store {
    padding-bottom: 10px;
  } 

}
