@import url(css/reset.css);
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

html, body { height:100%;}
body { overflow:scroll;  font-family: 'Oswald', sans-serif; font-size:15px; line-height:140%; letter-spacing:2px; background: url(images/bg.jpg) #000 no-repeat center center fixed; }
header { }
a { }
a:hover { }
img { width:100%; height:auto; vertical-align: top;}

.loader { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background: #c8cfd4 url(images/loader.gif) no-repeat 50% 50%; background-size:50px auto;
}



#wrap {  position:absolute; top:-10%; top:-10%;  width:120%; height:120%;  background-image:url(images/bg.jpg); z-index:1; overflow:hidden;}
#sticker { position:fixed; top:60px; right:30px; width:350px; height:350px; background:url(images/sticker.png) no-repeat 50% 50%; background-size:100%; z-index:2;}
#store { position:relative; font-size:1.5em; float:right; height:auto; z-index:2; color:#767676; padding-top:4px; }
#store a {  color:#767676; text-decoration: none;}
#store a:hover { color:#fff;}

#sc_player{position:fixed;width:100%;background:#000;bottom:0;left:0;z-index:200;border-top:4px solid #767676;padding:10px 10px 5px; z-index:2;}

#socials { position:fixed; top:0; left:0; width:100%; background:#000; border-bottom:4px solid #767676; padding:5px;}
#socials ul {  list-style-type: none; float:left;}
#socials li { display:inline-block;}
#socials li a { width:30px; height:auto; display:block; padding:3px}
#socials li a.txt { width:auto; color:#FFF; font-size: 1.5em; text-decoration:none;}
#socials li a:hover, #socials li a.txt { opacity:0.5}
#socials li a.txt:hover { opacity: 1; }

#liveLink {
  display: inline-block;
  margin: 0 0 0 50px;
}
#liveLink a.txt { width:auto; color:#FFF; text-decoration:none; opacity:0.5}
#liveLink a.txt:hover { opacity:1}

#live {
    background: #000;
    background: rgba(0,0,0,0.9);
    width: 100%;
    color: #FFF;
    height: 100%;
    position: absolute;
    z-index: 10;
    display: none;
}
#live > div {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 100px;
}
#powered {
    display: none;
}
.fancybox-close {
  background-image: url(fancybox/fancybox_sprite.png);
}
.fancybox-close {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
  display: block;
  overflow: hidden;
  text-indent: -555em;
}


video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(images/bg.jpg) no-repeat;
background-size: cover;
}

video { display: block; }



/*CSS SNIPPETS*/
.transall {  -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; -webkit-backface-visibility: hidden; -moz-backface-visibility:    hidden; -ms-backface-visibility:     hidden;}
.transopac {  -webkit-transition: opacity 0.3s ease-out; -moz-transition: opacity 0.3s ease-out; -o-transition: opacity 0.3s ease-out; transition: opacity 0.3s ease-out;}
a:hover.opac { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5; -webkit-backface-visibility: hidden; -moz-backface-visibility:    hidden; -ms-backface-visibility:     hidden;}

img.ri { position: absolute; max-width: 80%; top: 10%; left: 10%; border-radius: 3px; box-shadow: 0 3px 6px rgba(0,0,0,0.9); }
img.ri:empty { top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.cover {  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat; background-attachment:fixed; background-position:50% 50%;}

@media screen and (orientation: portrait) {
  img.ri { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  img.ri { max-height: 90%; }
}


@media screen and (max-device-width: 800px) {
body { background: url(images/bg.jpg) #000 no-repeat center center fixed; }
#bgvid { display: none; }
}



@media only screen and (max-width :700px) {
	#sticker { position:fixed; top:40px; right:20%; left:20%; width:60%; height:auto; padding-top:80%; background:url(images/sticker.png) no-repeat 50% 50%; background-size:100%; z-index:2;}
	#socials { text-align:center; } 
	#store { float:none;}
	#socials ul { float:none;}
}	
