@import url(css/reset.css);
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);



* {
margin: 0;
}

html, body {
height: 100%;
}

body { 
  overflow: scroll;  
  font-family: 'Oswald', sans-serif; 
  font-size: 16px;  
  background: #ccd0cf;
  color: #fff; 
}

header {
    background: #000;
    width: 100%;
    top: 0;
    padding: 10px 15px;
    font-size: 22px; 
    z-index: 10;
}

header .container {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.oak {
  background: #ccd0cf url(http://cdn.umg3.net/bleedingheartpigeons/cdn/new2/images/bg-fade.jpg);
}

h1 {
  color: #000;
  font-size: 34px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  padding: 120px 0 50px;
}

h2 {
  color: #000;
  font-size: 24px;
  padding: 100px 0 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
}

a { }
a:hover { }
img { width:100%; height:auto; vertical-align: top;}

.loader { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background: #c8cfd4 url(images/loader.gif) no-repeat 50% 50%; background-size:50px auto;
}
#liveLink {
  display: inline-block;
}
.store {
  display: inline-block;
}
.store a {  color:#fff; text-decoration: none;}
.store a:hover { color:#767676;}


.socials li { 
  display:inline-block;
}

.socials li a {
  font-size: 18px;
  color: #999;
  padding: 0 3px;

}

.socials li a:hover {
  color: #ebebeb;


}




#liveLink a.txt { width:auto; color:#FFF; text-decoration:none; opacity:1}
#liveLink a.txt:hover { opacity:0.5;}

#live {
    background: #ced0cf;
    background: rgba(0,0,0,0.9);
    width: 100%;
    color: #FFF;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: none;
}
#live > div {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 100px;
}
#powered {
    display: none;
}


 .album {
    width: 100%;
    max-width: 800px;
    z-index: 1;
 } 

.fancybox-close {
  background-image: url(fancybox/fancybox_sprite.png);
}
.fancybox-close {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
  display: block;
  overflow: hidden;
  text-indent: -555em;
}

.flex-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.flex-item-a {
    flex: 3;
    width: 100%;
}

.flex-item-b {
    flex: 1;
    width: 100%;
}

.main { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; 
  width: 90%;
  max-width: 800px;}

.main-content {
    flex: 1;
}  

.footer {
  width: 100%;
  background: #000;
  padding: 10px 10px 10px;
  text-align: center;
}
 .footer p{
  display: inline-block;
  text-transform: uppercase;
  line-height: 1.5;
  color: #fff;
  padding-right: 10px;
 }


.footer a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: #333;
  padding: 10px 20px;
  margin: 5px;

}

 .footer a:hover {
  background: #555;  
 }

.copyright {
  width: 100%;
  background-color: #222;
  padding: 10px 5px 15px;
}

.copyright a {
  color: #ebebeb;
  font-size: 10px;
  text-decoration: none;
  padding: 5px 3px;
  text-transform: uppercase;
}

.copyright a:hover {
  color: #999;
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  } 

  .embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }

.main-video {
  padding: 20px 0;
}

.last {
  margin-bottom: 120px;
}

.spotify-embed {
  width: 100%;
  height: auto;
  padding: 10px 0;
}






/*CSS SNIPPETS*/
.transall {  -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; -webkit-backface-visibility: hidden; -moz-backface-visibility:    hidden; -ms-backface-visibility:     hidden;}
.transopac {  -webkit-transition: opacity 0.3s ease-out; -moz-transition: opacity 0.3s ease-out; -o-transition: opacity 0.3s ease-out; transition: opacity 0.3s ease-out;}

.space {
    letter-spacing: 2px; 
}


@media only screen and (max-width :600px) {

  header {
        padding: 20px 0;
  }

  header .container, .store {
    text-align: center;
    display: block;
  }

  .socials {
    padding-bottom: 5px;
  } 

  .store {
    padding-bottom: 5px;
  } 

  .store, #liveLink a.txt {
    font-size: 18px;
  }

  .footer a {
    display: block;
  }

  h1 {
    font-size: 22px;
    padding: 50px 0 40px;
  }

  h2 {
    font-size: 18px;
    padding: 30px 0 30px;
  }

  .main-video {
    padding: 8px 0;
  }

  .last {
    margin-bottom: 50px;
  }

}
